* {

    text-align: center

}

.heading {

    font-family: 'Karla', sans-serif;
    margin-top: 10vh;
    padding-top: 10vh;


}

body{

    background-image: url('./images/background.jpg');
    

}
.URL-input {

    font-family: 'Karla', sans-serif;



}

.convert-button{

    font-family: 'Karla', sans-serif;

}

.div-button {

margin-top: 5px;
padding-bottom: 10vh;


}

.container {
    background-image: url('./images/box_background.png');
    margin-right: 70vh;
    margin-left: 70vh;
    box-shadow: 0.5px 0.5px 0.5px 0.5px darkslategrey;

}