* {

    text-align: center

}

.heading {

    font-family: 'Karla', sans-serif;
    margin-top: 30vh;

}

.URL-input {

    font-family: 'Karla', sans-serif;

}

.convert-button{

    font-family: 'Karla', sans-serif;

}

.div-button {

margin-top: 20px;

}